@media (max-width: 414px) and (max-height: 896px),
       /* (max-width: 414px) and (max-height: 896px), */
       (max-width: 428px) and (max-height: 926px){
  .top-navbar{
    display: none;
  }.show{
    display: block;
  }
  .content {
    padding: 0px !important;
    gap: 12px;
  }
  .left-content {
    width: 36%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .sidebar-menu {
    width: 70px;
    height: 303px;
  }
  .sidebar-me {
    display: none;
  }
  .menu-list-titel {
    display: none;
  }
  .logo {
    display: flex;
    gap: 19px;
    align-items: center;
    flex-direction: column;
  }
  .logo-img {
    width: 60px;
    height: 57px;
    border-radius: 10px;
  }
  .time {
    display: none;
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: 10px 10px;
  }
  .active-menu {
    width: 50px;
    border-radius: 34%;
    padding-left: 4px;
  }
  /* .active-menu a {
    display: block;
  } */
  .sidebar-bottom {
    flex-direction: column;
    gap: 35px;
    height: 214px;
  }
  .hero-contenor1-item-bottom-right {
    height: 256px;
  }
  .sidebar-social-link {
    flex-direction: column;
    width: 98px;
    height: 163px;
    gap: 25px;
    padding-left: 6px;
    font-size: 20px;
    background: none;
    border: none;
    backdrop-filter: none;
    margin-top: 35px;
  }
  .sidebar-copyright {
    display: none;
  }
  .right-content {
    max-width: 70%;
    height: 100vh;
    /* margin-right: 10px;  */
  }
  .hero-row1 {
    display: block;
  }
  .hero-section1 {
    height: 1150px;
    backdrop-filter: none;
    background: none;
    border: none;
  }
  .hero-contenor1 {
    width: 222px;
    height: 1158px;
    padding: 10px;
  }
  .hero-img {
    width: 204px;
    height: 100%;
    padding-top: 20px;
  }
  .hero-contenor1-item-top {
    flex-direction: column;
    width: 212px;
    height: 159px;
  }
  .frelance-hero-item a {
    width: 184px;
    height: 35px;
    padding: 12px;
    font-size: 11px;
  }
  .frelance-hero-item {
    width: 184px;
    height: 35px;
  }
  .date {
    width: 184px;
    height: 40px;
    padding-left: 10px;
    font-size: 11px;
  }
  .conect-me {
    width: 184px;
    text-decoration: none;
    color: #fff;
    padding-top: 12px;
    padding-left: 36px;
  }
  .download-cv{
    width: 150px;
    margin-left: 0px;
  }
  .hero-contenor1-item-bottom {
    width: 211px;
    flex-direction: column;
  }
  .hero-contenor1-item-bottom-left {
    width: 212px;
    line-height: 26px;
    height: 408px;
  }
  .hero-contenor1-item-bottom-left p {
    font-size: 12px;
    line-height: 22.7px;
    letter-spacing: 0.63px;
    margin-bottom: 15px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .hero-contenor1-item-bottom-left img {
    margin-left: 120px;
  }
  .hero-contenor1-item-bottom-right .hero-contenor1-item-bottom-right-top {
    width: 210px;
    height: 69px;
    line-height: 24px;
    padding: 18px;
  }
  .hero-contenor1-item-bottom-right .hero-contenor1-item-bottom-right-top span {
    border: none;
  }
  .project-hero {
    display: block;
    width: 132px;
    /* height: 67px; */
    padding: 14px;
    border: none;
    backdrop-filter: none;
    margin-bottom: 18px;
    display: flex;
  }
  .project-hero a {
    width: 100px;
    height: 40px;
    padding: 12px 19px;
    border: none;
    text-decoration: none;
    color: #fff;
    backdrop-filter: none;
    box-shadow: none;
  }
  .project-hero-animation-slide{
    display: none;
  }
  .project-hero-animation-slide-text{
    display: none;
  }
  .project-hero-slide-btn{
    display: none;
  }
  .hero-section2 {
    /* height: 5050px; */
    backdrop-filter: none;
    border:none;
    background: none;
  }
  .hero-contenor2 {
    padding: 0px;
  }
  .project-hero-imges-contenor{
    width: 228px;
    flex-direction: column;
  }
  .project-hero-imges-cont{
    width: 220px;
  }
  .project-hero-imges {
    width: 200px;
  }
  .project-hero-imges-year{
    left: 136px;
  }
  .project-hero-name-ditel {
    width: 200px;
  }
  .project-hero-complit-list{
    width: 104%;
    height: 393px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 41px;
    padding: 0px;
    margin-bottom: 30px;
  }
  .number-of-project{
    width: 221px;
  }
  .education-section-hero {
    width: 230px;
    padding: 0px;
    flex-direction: column;
  }
  .eduction-hero {
    width: 228px;
    padding: 0px;
  }
  .hero-contenor5{
    padding: 0px;
    border: none;
    backdrop-filter: none;
  }
  .all-services-ditels{
    flex-direction: column;
    gap: 15px;
    width: 230px;
  }
  .servises-box {
    width: 238px;
    height: 200px;
    padding: 9px;
  }
  .clint-reviw-item{
    width: 220px;
    padding: 12px;
  }
  .clint-reviw-item-top{
    width: 208px;
    gap: 0px;
  }
  .my-clint-reviw{
    display: block;
    width: 230px;
    padding: 0px;
    border: none;
  }
  .tutorial-library {
    margin-top: 30px;
    height: 1795px;
    padding: 0px;
    border: none;
    backdrop-filter: none;
  }
  .youtub-poster{
    flex-direction: column;
  }
  .contect-hero{
    padding: 0px;
    border: none;
    height: 500px;
  }
  .contect-submit{
    padding: 5px;
    border: none;
  }
  .contect-submit form input{
    width: 210px;
  }
  .contect-submit form textarea{
    width: 220px;
  }
  .contect-submit form .submit-btn {
    width: 220px;
  }
  footer div{
    font-size: 11px;
  }
  .up-arrow-scroll{
    width: 40px;
    height: 40px;
    bottom: 0px;
    right: 9px;
    font-size: 20px;
    padding: 12px;
  }
  .contect-pop {
    left: 3%;
    width: 332px;
    transform: scale(1);
    top: -500px;
}
.contect-pop-smal-show{
  top: 25%;
  transition: 1s;
}
.contect-pop h1{
  font-size: 23px;
}
.tesmonial-form{
  padding: 10px;
  width: 300px;
  left: 40px;
}
.tesmonial-form-ph-pop{
  top: 50px;
}
.tesmonial-form h1{
  font-size: 24px;
  color: #fff;
}
.tesmonial-form input{
  width: 250px;
}
.tesmonial-form textarea{
  width: 250px;
}


/* projects responsiv  */

.slides div{
  padding: 0px !important;
}
.slick-initialized .slick-slide{
  margin-top: 25px;
}
.project-cont1{
  font-size: 20px !important;
}
.project-cont1::before{
  font-size: 29px !important;
  top: 60px;
  /* left: -300px; */
  transition: 1s;
  line-height: 30px;
}
.project-cont1 h1{
  top: -25px !important;
  right: 300px;
  transition: 0.7s;
  line-height: 30px;
}
.project-cont:hover .project-cont1::before {
  top: -80px;
  transition: 1s;
}
.project-cont:hover .project-cont1 h1{
  transition: 0.7s;
  right: 0px;
}
}
